<form class='form'>
  <div class='form-section'>
    <div class='form-section-header'>
      Email
    </div>
    {{input value=model.email placeholder='coffee@wabisabi.com' class='input'}}
  </div>

  <div class='form-section form-section--half'>
    <div class='form-section-header'>
      First Name
    </div>
    {{input value=model.firstName type='input' class='input'}}
  </div>

  <div class='form-section form-section--half'>
    <div class='form-section-header'>
      Last Name
    </div>
    {{input value=model.lastName type='input' class='input'}}
  </div>

  <div class='form-section form-section--half'>
    <div class='form-section-header'>
      Password
    </div>
    {{input value=model.password type='password' class='input'}}
  </div>

  <div class='form-section form-section--half'>
    <div class='form-section-header'>
      Password Confirmation
    </div>
    {{input value=model.passwordConfirmation type='password' class='input'}}
  </div>
</form>

<div class='buttonContainer'>
  <button class='button buttonContainer-submit' {{action 'save'}}>
    Register
  </button>
</div>
