<div class='formTitle'>
  Create an account
</div>

<form class='form'>
  <div class='form-section'>
    <div class='form-section-field'>
      <div class='form-section-field-header'>
        Email
      </div>
      {{validated-input value=model.email placeholder='coffee@wabisabi.com' type='input' errors=model.errors.email}}
    </div>
  </div>

  <div class='form-section'>
    <div class='form-section-field form-section-field--6'>
      <div class='form-section-field-header'>
        First Name
      </div>
      {{validated-input value=model.firstName placeholder='Chris' type='input' errors=model.errors.firstName}}
    </div>

    <div class='form-section-field form-section-field--6'>
      <div class='form-section-field-header'>
        Last Name
      </div>
      {{validated-input value=model.lastName placeholder='Nixon' type='input' errors=model.errors.lastName}}
    </div>
  </div>

  <div class='form-section'>
    <div class='form-section-field form-section-field--6'>
      <div class='form-section-field-header'>
        Password
      </div>
      {{validated-input value=model.password type='password' errors=model.errors.password}}
    </div>

    <div class='form-section-field form-section-field--6'>
      <div class='form-section-field-header'>
        Password Confirmation
      </div>
      {{validated-input value=model.passwordConfirmation type='password' errors=model.errors.passwordConfirmation}}
    </div>
  </div>
</form>

<div class='buttonContainer'>
  <button class='button buttonContainer-submit' {{action 'save'}}>
    Register
  </button>
</div>
