<header>
  <nav class='nav nav--fixed'>
    <ul class='nav-list'>
      <li class='nav-list-item'>
        {{link-to 'Roasts' 'roasts' class='nav-list-item-link'}}
      </li>
      <li class='nav-list-item'>
        {{link-to 'Beans' 'beans' class='nav-list-item-link'}}
      </li>
      <li class='nav-list-item'>
        {{link-to 'About' 'about' class='nav-list-item-link'}}
      </li>
    </ul>

    <span class='nav-title'>
      {{title}}
    </span>

    <ul class='nav-list nav-list--right'>
      {{#if session.isAuthenticated}}
        <li class='nav-list-item'>
          <a class='nav-list-item-link' {{action 'invalidateSession'}}>Logout</a>
        </li>
      {{else}}
        <li class='nav-list-item'>
          {{link-to 'Register' 'users.signup' class='nav-list-item-link'}}
        </li>
        <li class='nav-list-item'>
          {{link-to 'Login' 'login' class='nav-list-item-link'}}
        </li>
      {{/if}}
    </ul>
  </nav>
  <nav class='subNav subNav--fixed'>
    <ul class='subNav-list'>
      <li class='subNav-list-item'>
        {{link-to 'Add a Bean' 'beans.new' class='subNav-list-item-link'}}
      </li>
    </ul>
  </nav>
</header>

<main class='main'>
  {{outlet}}
</main>
